.home-header-text{
    font-family: 'PT Sans';
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 0.5rem 0.5rem 1rem black;
}

.home-header-subtext{
    font-size: large;
}

.home-header{
    color: #fff;
    padding-left: 4rem;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    border-bottom: #fff 0.25rem;
    position: relative;
}

.carousel-container{
    width: 55vw;
    border: 0.5rem solid #34838b;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem #157179;
    justify-content: center;
    align-items: center;
}

.card-container{
    display: flex;
    flex-direction: row;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
}

.card{
    height: 28rem;
    width: 20rem;
    background: linear-gradient(180deg, #fff, #157179 120%);
    margin: 3rem;
    border: 0.5rem solid rgb(84, 81, 81);
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem #414246;
    padding: 2rem;
    font-size: 0.75rem;
}

.card-header{
    margin: 2rem;
}

@media screen and (max-width: 960px) {
    .card-container{
        display: flex;
        flex-direction: column;
        padding: 8rem;
    }
}
