body {
    background: url("../../../public/IMG_8898.jpeg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.card-container{
    display: flex;
    flex-direction: row;
    padding: 8rem;
}

.card{
    height: 28rem;
    width: 20rem;
    background: linear-gradient(180deg, #fff, #157179 120%);
    margin: 3rem;
    border: 0.5rem solid #34838B;
    border-radius: 1rem;
    box-shadow: 0.25rem 1rem #157179;
    padding: 2rem;
    font-size: 0.75rem;
}

@media screen and (max-width: 960px) {
    .card-container{
        display: flex;
        flex-direction: column;
        padding: 8rem;
    }
}
